body {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
       }

 p {
    font-size: 1rem;
 }
 
 button {
   padding: 10px;
   border-radius: 4px;
   cursor: pointer;
   background-color: #ffffff;
   color: #41badb;
   padding: 8px 15px;
   text-align: center;
   text-decoration: none;
   display: inline;
   font-size: 1.25rem;
   border: 2px solid #41badb;
   transition-duration: .4s; 
 }

 @media (hover: hover) {
   button:hover {
      background-color:#41badb;
      color: #ffffff;
    }
}

 .navbar {
   list-style-type: none;
   margin: 0;
   padding: 2vh;
   overflow: hidden;
   background-color: #f3f3f3;
   position: fixed;
   top: 0;
   width: 100%;
   text-align: center;
 }

 .navbar li {
   color: #666;
   float: right;
 }

 .navTitle {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 4vh;
   display: block;
   margin: auto;
   padding: 1vh 1vh;
   text-decoration: none;
   float: none;
   position: absolute;
   top: 50%;
   left: 50.25%;
  
   transform: translate(-50%, -50%);
 }

 #instructionsModalButton {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bolder;
   background-color: #41badb;
   border: none;
   color: white;
   padding: 1.5vh 1.75vh;
   text-align: center;
   text-decoration: none;
   display: inline;
   margin-right: 2vh;
   font-size: 1rem;
   border: 2px solid #41badb;
   transition-duration: .4s;
 }

 #instructionsModalButton:hover {
   transform: scale(1.1);
 }

 .startButton {
   background-color: #ffffff;
   border: none;
   color: #41badb;
   padding: 1vh 3vh;
   text-align: center;
   text-decoration: none;
   display: block;
   margin-bottom: 1vh;
   font-size: 4vh;
   border: 2px solid #41badb;
   transition-duration: .4s;
 }

 button:active {
   transform: scale(.95);
 }

.finishButtonDiv {
   display: none;
   align-items: center;
   align-content: center;
   text-align: center;
}

.finishButton {
   margin-top: 1rem;
}

 .finishRoundDiv {
   display: none;
   margin-bottom: 1rem;
 }

  .newPlayerDiv {
   display: none;
  }

  .addPlayerDiv {
   display: none;
   text-align: center;
  }

  .addPlayerDiv p {
   display: inline;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 1.25rem;
   color: #41badb;
  }

  .playersNamesDiv {
   display: none;
  }

  #newPlayer {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 1.25rem;
   width: 10rem;
  }

  .players {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 2.5vh;
   display: inline;
  }

  .numOfRoundsDiv {
   display: none;
  }

  .flex-container {
   display: flex;
   flex-direction: row;
 }
 
 /* Responsive layout - makes a one column layout instead of a two-column layout */
 @media (max-width: 800px) {
   .flex-container {
     flex-direction: column;
   }
 }

  .turnCards {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   border: 2px solid #666;
   display: none;
   flex-direction: row;
   padding: 3vh 3vh;
   border-radius: 20px;
   margin: 3vh;
   color:rgb(60, 60, 60);
   flex: 50%;
   background-color: #aaa;
  }

  .roundGoalDiv h1 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 4vh;
   color: #666;
  }

 .roundGoal {
   font-size: 3vh;
 }

 .turnCards div {
  border: 2px solid white;
  background-color: #666;
  border-radius:4px;
  display: inline;
  height: 10vh;
  width: 6vh;
  margin: 1vh;
  color: white;
 }

 .turnDiv {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   border: 2px solid #666;
   display: none;
   padding: 2vh 2vh;
   border-radius: 20px;
   margin: 3vh;
   flex: 50%;
 }

 .turnCounter {
   color: #666;
   font-size: 4vh;
 }

 .turnModifier {
    font-size: 100%;
    color:rgb(60, 60, 60);
   }

.nextButtonDiv {
    display: block;
}

 .nextButton {
   display: inline;
   margin-bottom: 1vh;
   font-size: 3vh;
 }

.playersScoresDiv {
  text-align: center;
  padding: 1vh;
  margin: 1vh;
}

 .rounds {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 2.5vh;
   display: inline;
 }

 .gameOver {
  display: none;
 }

 .wildCard {
  display: none;
  font-size: 3vh;
 }

 .spades,
.clubs {
  font-size: 3vh;
  color: black;
}

.hearts,
.diamonds {
  font-size: 3vh;
  color: red;
}

 /* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 
 /* The Close Button */
 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }

 /* Modal Header */
.modal-header {
   padding: 2px 16px;
   background-color: white;
   color: #41badb;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 /* Modal Body */
 .modal-body {padding: 2px 16px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.modal-body li {
   text-align: left;
}
 
 /* Modal Footer */
 .modal-footer {
   padding: 2px 16px;
   background-color: white;
   color: #41badb;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 /* Modal Content */
 .modal-content {
   position: relative;
   background-color: #fefefe;
   margin: auto;
   padding: 0;
   border: 1px solid #888;
   width: 80%;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   animation-name: animatetop;
   animation-duration: 0.4s
 }

 .modal-content i {
  color: #41badb;
 }
 
 /* Add Animation */
 @keyframes animatetop {
   from {top: -300px; opacity: 0}
   to {top: 0; opacity: 1}
 }

 .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #41badb;
   color: white;
   text-align: center;
   padding: 1vh;
 }

 .card {  
  position: relative;
  width: 105px;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.card-value-suit {
  display: inline-block;
  position: absolute;
}
.card-value-suit.top {
  top: 5px;
  left: 5px;
}
.card-value-suit.bot {
  transform: rotate(180deg);
  bottom: 5px;
  right: 5px;
}
.card-suit {
  font-size: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25%;
}

.card.spades,
.card.clubs {
  color: black;
}
.card.hearts,
.card.diamonds {
  color: red;
}
 